<form class="todo-list-item" action="#" (ngSubmit)="onEdit()" >
    <input class="todo-list-item__input" type="text" name="name" [(ngModel)]="name">
    <input class="todo-list-item__text" type="text" name="text" [(ngModel)]="text">
    <div class="popup-content__input-priority">
            <label [ngClass]="{'selected': priority === PriorityState.low}">
                <input [(ngModel)]="priority" type="radio" name="priority" [value]="PriorityState.low" required>
                Low
            </label>
            <label [ngClass]="{'selected': priority === PriorityState.medium}">
                <input [(ngModel)]="priority" type="radio" name="priority" [value]="PriorityState.medium" required>
                Medium
            </label>
            <label [ngClass]="{'selected': priority === PriorityState.high}">
                <input [(ngModel)]="priority" type="radio" name="priority" [value]="PriorityState.high" required>
                High
            </label>
        </div>
    <button class="todo-list-item__button-ok" [disabled]="!name">OK</button>
    <button class="todo-list-item__button-cancel" type="button" (click)="onCancel()">Cancel</button>
</form>
