<form (ngSubmit)="onEdit()" class="todo-list-item" action="#">
  <input
    [(ngModel)]="name"
    class="todo-list-item__input"
    type="text"
    name="name"
  />
  <textarea
    [(ngModel)]="text"
    class="todo-list-item__input-text"
    type="text"
    name="text"
    placeholder="Description ..."
    required
  >
		>
	</textarea
  >
  <div class="todo-list-item__input-priority">
    <label [ngClass]="{ selected: priority === PriorityState.low }">
      <input
        [(ngModel)]="priority"
        [value]="PriorityState.low"
        type="radio"
        name="priority"
        required
      />
      Low
    </label>
    <label [ngClass]="{ selected: priority === PriorityState.medium }">
      <input
        [(ngModel)]="priority"
        [value]="PriorityState.medium"
        type="radio"
        name="priority"
        required
      />
      Medium
    </label>
    <label [ngClass]="{ selected: priority === PriorityState.high }">
      <input
        [(ngModel)]="priority"
        [value]="PriorityState.high"
        type="radio"
        name="priority"
        required
      />
      High
    </label>
  </div>
  <button [disabled]="!name" class="todo-list-item__button-ok">OK</button>
  <button
    (click)="onCancel()"
    class="todo-list-item__button-cancel"
    type="button"
  >
    Cancel
  </button>
</form>
