.todo-list-item {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'input'
    'input-text'
    'input-priority'
    'button-cancel'
    'button-ok';
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  margin: 21px 0;
  height: auto;
  width: var(--width-item-container);
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px var(--violet-main-color);
  font-family: 'Montserrat-Medium', sans-self;
  font-size: 13px;
  color: var(--violet-main-color);

  &__input {
    grid-area: input;
    justify-self: start;
    width: var(--width-item-container);

    cursor: pointer;
    border-bottom: 1px solid #8b8787;
    color: #8b8787;
  }
  &__input-text {
    grid-area: input-text;
    justify-self: start;
    width: var(--width-item-container);

    border: 1px solid #ccc;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Montserrat-Regular', sans-serif;
  }

  &__input-priority {
    grid-area: input-priority;
    justify-self: start;

    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border: none;

    label {
      font-family: 'Montserrat-Regular', sans-serif;
      font-size: 14px;
      padding: 10px;
      border-radius: 7px;
      cursor: pointer;
    }

    label:hover {
      background-color: var(--violet-main-color);
      color: white;
    }
    label.selected {
      background-color: var(--violet-main-color);
      color: white;
    }

    input {
      margin-right: 5px;
    }
  }

  &__button-ok {
    grid-area: button-ok;
    justify-self: start;
    cursor: pointer;
    font-size: 10px;
    color: var(--violet-main-color);
  }
  &__button-cancel {
    grid-area: button-cancel;
    justify-self: start;
    cursor: pointer;
    font-size: 10px;
    color: var(--violet-main-color);
  }
}
