.todo-list-item{
    display: grid;
    grid-template-columns: 150px auto 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "titles . edit delete checkbox";
    align-items: center;
    padding: 0 19px;
    margin: 21px 0;
    height: 82px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px var(--violet-main-color);

    &__container{
        grid-area: titles;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
    }

    &__title{
        text-transform: uppercase;
        font-family: 'Montserrat-Medium', sans-self;
        font-weight: bold;
        font-size: 13px;
        color: var(--violet-main-color);
    }

    &__text{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        text-transform: uppercase;
        font-family: 'Montserrat-Thin', sans-self;
        font-weight: bold;
        font-size: 10px;
        color: #000000;
        
    }

    &__edit{
        grid-area: edit;
        justify-self: end;
        cursor: pointer;
    }

    &__delete{
        grid-area: delete;
        justify-self: end;
        cursor: pointer;
    }

    &__checkbox{
        grid-area: checkbox;
        justify-self: end;
        cursor: pointer;
    }
}

.priority-low {
    background-color: rgb(156, 255, 43);
    width: 10px;
    height: 10px;
}

.priority-medium {
    background-color: rgb(230, 211, 43);
    width: 10px;
    height: 10px;
}

.priority-high {
    background-color: rgb(255, 43, 43);
    width: 10px;
    height: 10px;
}