.app-container {
    overflow: scroll; /* Enable vertical scrolling */
}

.app-wrapper {
    position: fixed; 
    top: 100px; 
    left: 487px;
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--violet-main-color);
    width: var(--width-phone-wrapper);
    height: var(--height-phone-wrapper);
    border-radius: var(--border-radius-phone-wrapper);
}

.phone{
    position: fixed; 
    top: -245px;
    z-index: 1;
    width: 980px;
    height: 1400px;
}

@media (max-height: 817px) { 
    .phone{
        display: none;
    }
    .app-wrapper {
        position: relative; 
        margin: 0 auto;
        top: 0px; 
        left: 188px;
        overflow: scroll;
    }
}