.todo-widget-container{
    display: grid;
    grid-template-rows: 1fr [row1-start] 1fr ;
    background-color: #B3B7EE;
    height: calc(var(--height-phone-wrapper) - 90px);
    border-bottom-right-radius: var(--border-radius-phone-wrapper);
    border-bottom-left-radius: var(--border-radius-phone-wrapper);
}

.button-round{
  align-self: end;
  justify-self: end;
  background-color: var(--violet-main-color);
  color: white;
  border: none;
  font-size: 31px;
  height: 70px;
  width: 70px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  margin: 20px;
}