@import 'reset.scss';
@font-face {
    font-family: 'Montserrat-Black';
    src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
