.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;

  &__form {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    gap: 10px;
  }

  &__input-title {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    text-transform: capitalize;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
  }

  &__input-text {
    padding: 10px;
    border: 1px solid #ccc;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Montserrat-Regular', sans-serif;
  }

  &__input-priority {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border: none;

    label {
      font-family: 'Montserrat-Regular', sans-serif;
      font-size: 14px;
      padding: 10px;
      border-radius: 7px;
      cursor: pointer;
    }

    label:hover {
      background-color: var(--violet-main-color);
    }
    label.selected {
      background-color: var(--violet-main-color);
    }

    input {
      margin-right: 5px;
    }
  }


  &__button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--violet-main-color);
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}